$bg-color: #202A44;
$first-person-bg-color: #C8E691;
$second-person-bg-color: #8D8E96;
$third-person-bg-color: #BCBABF;

$score-bg: #F1F1F1;
$score-color: #000000;

$number-error-color: #BF2012;
$number-warning-color: #FFA000;
$text-main-color: #202A44;
$res-header-color: #A6A6C4;

$fish-score-color: #FFA000;
$bag-score-color: #FFA000;
$bag-score-color-orange: #FFA000;


$person-first: #C8E691;
$person-bg-odd: #D0CFCD;
$person-bg-odd-dark: #BABABB;
$person-bg-even: #A2A3A3;
$person-bg-even-dark: #8C8E91;